body{
    background: #f2f4f7;
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 95vh;
    justify-content: space-between;
}
.container-left{
    margin-top: 40px;
}
.container-left img{
    width: 300px;
    margin-left: -20px;
    margin-bottom: -40px;
}
.container-left p{
    font-size: 35px;
}
.container-right {
    margin-top: 80px;
    padding: 10px;
    width: 100%;
    max-width: 396px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 8px 16px rgba(0, 0, 0, .2);
}
.forgot a{
    text-decoration: none;
    color: blue;
}
.forgot{
    list-style-type: none;
    margin-bottom: 25px;
    text-align: center;
}
.container-right form input{
    display: block;
    width: 100%;
    max-width: 360px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(203, 203, 203);
    margin-top: 5px;
    margin-bottom: 8px;
    color: gray;
    font-size: 18px;
}
button{
    display: block;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.blue{
    background: #0866ff;
    margin: 15px 0 15px 0px;
}
.blue:hover{
    background: #4586ef;
}
.green:hover{
    background: #64e838;
}
.green{
    background: #42b72a;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
hr{
    height: 1px;
    border: none;
    background: rgb(190, 187, 187);
}
.last{
    margin-left: 790px;
    margin-top: -40px;
}